.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
canvas {
  /* Disables global phone default touch gestures (go back, reload ect) */
  touch-action: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

 .html-screen iframe {
  height: 685px;
  width: 1024px;
  border: none;
  border-radius: 20px;
  background: black;
 }