/* Public Sans - Regular*/
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  src: url('../../../assets/fonts/public-sans/PublicSans-Regular.ttf');
}

/* Public Sans - Bold */
@font-face {
  font-family: 'Public Sans';
  font-style: bold;
  src: url('../../../assets/fonts/public-sans/PublicSans-Bold.ttf');
}


/* Fire Code */
@font-face {
  font-family: 'Fire Code';
  font-style: thin;
  src: url('../../../assets/fonts/FiraCode/FiraCode-Light.ttf');
  }

/* Worksans - Thin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../../../assets/fonts/worksans/WorkSans-Thin.ttf')
}

/* Worksans - light */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../../../assets/fonts/worksans/WorkSans-Light.ttf');
}

/* Worksans - medium */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../../../assets/fonts/worksans/WorkSans-Medium.ttf');
}

/* Worksans - regular */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../../assets/fonts/worksans/WorkSans-Regular.ttf');
}

/* Worksans - semibold */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../../../assets/fonts/worksans/WorkSans-SemiBold.ttf')
}

/* Worksans - bold */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../../assets/fonts/worksans/WorkSans-Bold.ttf')
}

/* Worksans - extra bold */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../../assets/fonts/worksans/WorkSans-ExtraBold.ttf')
}

/* Worksans - Black */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../../../assets/fonts/worksans/WorkSans-Black.ttf')
}

/* oswald-200 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-200.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-300 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-300.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-500 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-500.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-600 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-600.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-700 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../assets/fonts/oswald-v49-latin/oswald-v49-latin-700.svg#Oswald') format('svg'); /* Legacy iOS */
}

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../assets/fonts/lato-v23-latin/lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

 /* The animation code */
/* @keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

/* The element to apply the animation to */
/* div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}  */

@keyframes portfolioAnimation {
  0% {
    height: 0rem;
    opacity: 0%;
  }

  50% {
    height: 0rem;
    opacity: 0%;
  }

  100% {
    height: 60.688rem;
    opacity: 100%;
  }
}

/* *  {
  border:1px solid red
} */

h1, h2, h3 {
  font-family: 'Work Sans';
  font-size: 1.568rem;
  font-weight: 500;
  color: black;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
h3 {
  margin-bottom: 0rem;
  font-weight: 200;

  font-size: 1rem;
  color: rgba(0, 0, 0, .5);
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

p, li {
  font-family: 'Work Sans';
  font-size: 1.155rem;
  font-weight: 200;
  color: rgba(0, 0, 0, .5);
  margin-top: 0rem;
  margin-bottom: 1rem;
}
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  right: 0;
  height: 60.688rem;
  width: 47.8rem;
  border: none;
  border-radius: 24px;
  overflow: scroll;
  animation-name: portfolioAnimation;
  animation-duration: 1800ms;
  background-color: white;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
}

  @media only screen and (max-width: 1920px) {

    @keyframes portfolioAnimation {
      0% {
        height: 0rem;
        opacity: 0%;
      }

      50% {
        height: 0rem;
        opacity: 0%;
      }

      100% {
        height: 50rem;
        opacity: 100%;
      }
    }
      .modal-container {
        height: 50rem;
        width: 37rem;
        overflow: hidden;
      }
  }

.modal-header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1.4rem;
  width: 40rem
}

.modal-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modal-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 38.564rem;
  width: 40rem;
  overflow: scroll;
  margin-top: 1rem;
  flex-direction: column;
  height: 100%;
}

.info-stack {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 0rem;
}

.portfolio-gif {
  height: 12.8rem;
  width: 24.4rem;
  object-fit: contain;
  border-radius: 10.56px;
  margin-bottom: 1.5rem;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, .2);
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.25rem;

}

.footer-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

.previous-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.previous-button {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: rgba(0, 0, 0, .5);
}

button {
  font-family: 'Work Sans';
  font-size: 1.15rem;
  font-weight: 500;
}

.btn-primary {
  background-color: #48ABFE;
  font-family: 'Work Sans';
  font-size: 1.15rem;
  font-weight: 500;
  cursor: pointer;
  width: 11.25rem;
  height: 3.4rem;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 10.56px;
}

.github {
  width: 14rem;
  margin-top: 1.2rem;
  height: 3.35rem;
}

.aboutme-header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.aboutme-header-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.avatar {
  margin-top: 1.5rem;
  width: 10.35rem;
  height: 10.35rem;
  object-fit: contain;
  border-radius: 100%;
  border-radius: 10.56px;
  margin-bottom: 1.5rem;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, .2);
}